#root {
  background-color: #ffccee;
  color: #660000;

  overflow-x: hidden;

  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#buttonBox {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}

#buttonBox > button {
  width: 8rem;
  height: 4rem;

  transform: scale(var(--scale, 1));
}

#sureBox {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

#sureBox > h2 {
  display: inline;
}

#sealion {
  width: 50%;
  margin: 10px auto;
}
